In [2]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from collections import Counter
from num2words import num2words

import nltk
import os
import string
import numpy as np
import copy
import pandas as pd
import pickle
import re
import math

In [5]:
data = pd.read_csv("../data/news.csv", sep = ";")

In [19]:
data.head()

,Datum,Titel,Text,Link,Quelle,Autor,count_words,count_data,count_capital_words,cleaned_text,origin,Autor
0,23.10.2020,Steirische Unis bauen trotz Coronakrise aus,"Und das sind die wichtigsten Projekte, die akt...",https://www.krone.at/2259121,Krone,Jörg Schwaiger,356,0,4,wichtigsten projekt aktuel graz leoben laufen ...,Austria,NaN
1,14.12.2020,Immer mehr Firmen verlassen das Silicon Valley,Dort habe das Unternehmen bereits seinen größt...,https://www.krone.at/2297846,Krone,NaN,199,0,2,unternehmen bereit größten beschäftigungsschwe...,Austria,NaN
2,07.12.2020,Top-Waffenproduzenten nahmen fast 300 Mrd. € ein,Bei zwölf der 25 größten Rüstungskonzerne hand...,https://www.krone.at/2292763,Krone,NaN,257,0,8,zwölf größten rüstungskonzern handelt unterneh...,Austria,NaN
3,01.01.2021,Corona: Israel hat schon 1 Million Bürger geimpft,Eine Grafik auf der Website „Our World in Data...,https://www.krone.at/2309676,Krone,NaN,336,0,1,grafik websit „our world data“ vergleicht vers...,Austria,NaN
4,15.12.2020,Firmen informieren oft nicht über Mitarbeiterd...,Während nur rund die Hälfte der Unternehmen ih...,https://www.krone.at/2298543,Krone,NaN,142,0,3,rund hälfte unternehmen mitarbeit speicherung ...,Austria,NaN

# Preprocessing

In [7]:
def convert_lower_case(data):
    return np.char.lower(data)

In [13]:
def remove_stop_words(data):
    stop_words = stopwords.words('german')
    words = word_tokenize(str(data))
    new_text = ""
    for w in words:
        if w not in stop_words and len(w) > 1:
            new_text = new_text + " " + w
    return new_text

In [14]:
def remove_punctuation(data):
    symbols = "!\"#$%&()*+-./:;<=>?@[\]^_`{|}~\n"
    for i in range(len(symbols)):
        data = np.char.replace(data, symbols[i], ' ')
        data = np.char.replace(data, "  ", " ")
    data = np.char.replace(data, ',', '')
    return data

In [15]:
def remove_apostrophe(data):
    return np.char.replace(data, "'", "")

In [16]:
def stemming(data):
    stemmer= PorterStemmer()
    
    tokens = word_tokenize(str(data))
    new_text = ""
    for w in tokens:
        new_text = new_text + " " + stemmer.stem(w)
    return new_text

In [17]:
def convert_numbers(data):
    tokens = word_tokenize(str(data))
    new_text = ""
    for w in tokens:
        try:
            w = num2words(int(w))
        except:
            a = 0
        new_text = new_text + " " + w
    new_text = np.char.replace(new_text, "-", " ")
    return new_text

In [18]:
def preprocess(data):
    data = convert_lower_case(data)
    data = remove_punctuation(data) #remove comma seperately
    data = remove_apostrophe(data)
    data = remove_stop_words(data)
    data = convert_numbers(data)
    data = stemming(data)
    data = remove_punctuation(data)
    data = convert_numbers(data)
    data = stemming(data) #needed again as we need to stem the words
    data = remove_punctuation(data) #needed again as num2word is giving few hypens and commas fourty-one
    data = remove_stop_words(data) #needed again as num2word is giving stop words 101 - one hundred and one
    return data

In [21]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/retoheller/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [95]:
tokens = []

for i in range(len(data)):
    if type(data["cleaned_text"][i]) == float:
        tokens.append(["no"])
    else:
        tokens.append(word_tokenize(data["cleaned_text"][i]))

In [96]:
tokens_title = []

for i in range(len(data)):
    if type(data["Titel"][i]) == float:
        tokens_title.append(["no"])
    else:
        tokens_title.append(word_tokenize(data["Titel"][i]))

In [97]:
data["tokens"] = tokens
data["tokens_title"] = tokens_title

In [53]:
DF = {}

for i in range(len(tokens)):
    token = tokens[i]
    for w in token:
        try:
            DF[w].add(i)
        except:
            DF[w] = {i}
            
for i in DF:
    DF[i] = len(DF[i])

In [55]:
total_vocab_size = len(DF)

In [57]:
total_vocab = [x for x in DF]

In [59]:
def doc_freq(word):
    c = 0
    try:
        c = DF[word]
    except:
        pass
    return c

In [98]:
doc = 0
N = len(data)
tf_idf = {}

for i in range(N):
    
    tokens = data["tokens"][i]
    
    counter = Counter(tokens + data["tokens_title"][i])
    words_count = len(tokens + data["tokens_title"][i])
    
    for token in np.unique(tokens):
        
        tf = counter[token]/words_count
        df = doc_freq(token)
        idf = np.log((N+1)/(df+1))
        
        tf_idf[doc, token] = tf*idf

    doc += 1

In [99]:
doc = 0

tf_idf_title = {}

for i in range(N):
    
    tokens = data["tokens_title"][i]
    counter = Counter(tokens + data["tokens"][i])
    words_count = len(tokens + data["tokens"][i])

    for token in np.unique(tokens):
        
        tf = counter[token]/words_count
        df = doc_freq(token)
        idf = np.log((N+1)/(df+1)) #numerator is added 1 to avoid negative values
        
        tf_idf_title[doc, token] = tf*idf

    doc += 1

In [88]:
data["Text"][249]

nan